flows(1).json
[{"id":"ef7f6563.6dc688","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4a747dc4.f100bc","type":"debug","z":"ef7f6563.6dc688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":360,"wires":[]},{"id":"45167319.d0414c","type":"function","z":"ef7f6563.6dc688","name":"pre-token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"0tdjB398Un1MWtxMfH9aMXAjELbC_OH2A08szcKru-TD\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["dc84b2a9.a7726"]]},{"id":"dc84b2a9.a7726","type":"http request","z":"ef7f6563.6dc688","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":452.00000381469727,"y":264.00000286102295,"wires":[["5694a4a.55a6f5c","bb61da52.18e4a8"]]},{"id":"5694a4a.55a6f5c","type":"debug","z":"ef7f6563.6dc688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":320,"wires":[]},{"id":"bb61da52.18e4a8","type":"function","z":"ef7f6563.6dc688","name":"Pre Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar skin = global.get(\"skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Preg\", \"Plas\", \"Pres\", \"Skin\",\"Test\",\"Mass\",\"Pedi\",\"Age\"]],\"values\": [[preg,plas,pres,skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":644.0000076293945,"y":216.0000021457672,"wires":[["a21728c.f949a58"]]},{"id":"a21728c.f949a58","type":"http request","z":"ef7f6563.6dc688","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/c31c709f-00cb-4090-a805-cab53b979bfc/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":240,"wires":[["a007048.3e217f8","7fcdca3f.551f9c"]]},{"id":"a007048.3e217f8","type":"debug","z":"ef7f6563.6dc688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1022.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"b9657b38.37254","type":"inject","z":"ef7f6563.6dc688","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["45167319.d0414c"]]},{"id":"8b5c630d.144fd8","type":"debug","z":"ef7f6563.6dc688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":853.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"7fcdca3f.551f9c","type":"function","z":"ef7f6563.6dc688","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":699.6000595092773,"y":148.00000190734863,"wires":[["8b5c630d.144fd8","719469ec.ebb198"]]},{"id":"719469ec.ebb198","type":"ui_text","z":"ef7f6563.6dc688","group":"29f08189.dd92e6","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":817.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"8b9a251d.649438","type":"ui_form","z":"ef7f6563.6dc688","name":"","label":"","group":"29f08189.dd92e6","order":1,"width":0,"height":0,"options":[{"label":"Preg","value":"preg","type":"number","required":true,"rows":null},{"label":"Plas","value":"plas","type":"number","required":true,"rows":null},{"label":"Pres","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin","value":"skin","type":"number","required":true,"rows":null},{"label":"Test","value":"test","type":"number","required":true,"rows":null},{"label":"Mass","value":"mass","type":"number","required":true,"rows":null},{"label":"Pedi","value":"pedi","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":280,"wires":[["4a747dc4.f100bc","45167319.d0414c"]]},{"id":"29f08189.dd92e6","type":"ui_group","z":"","name":"Default","tab":"a6d13923.44aad","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6d13923.44aad","type":"ui_tab","z":"ef7f6563.6dc688","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]